



<h1>{{title}}</h1>

<div id="example"></div>

<script type="text/babel">     
    var CommentBox = React.createClass({
        								handleCommentSubmit: function(comment) {
										    $.ajax({
										      url: this.props.url,
										      dataType: 'json',
										      type: 'POST',
										      data: comment,
										      success: function(data) {
										        this.setState({data: data});
										      }.bind(this),
										      error: function(xhr, status, err) {
										        console.error(this.props.url, status, err.toString());
										      }.bind(this)
										    });
										  },


        								render: function() {
                             								return (
                                      								<div className="commentBox">
                                       								   <h1>{{name}}!</h1>
                                      								</div>
                                    								);
                            								}
                            			});
    ReactDOM.render(        
        			<CommentBox />,
        			document.getElementById('example')
      				);
</script>